body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    color: white;
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:focus,
a:hover, a:active {
    text-decoration: none;
    color: red;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

.top-bar {
    background: red;
}


.main-top {
    z-index: 999;
    width: 100%;
    background: rgb(152 146 146 / 26%);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    -ms-transition: background-color .1s ease-in-out;
    -o-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0;
    color: #fff;
    background: transparent;
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 10px;
    left: -37px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #f44336;
}

/* fixed nav */
nav.fixed-navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.fixed-navi ul li {
    float: left;
}

a.navbar-brand {
    color: #f44336;
    font-size: 50px;
    padding: 0;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.w3l-footer h2 a span {
    color: #f44336;
}
